@charset "EUC-KR";

body { font-family:myFirstFont, NanumGothic,Verdana,Dotum,"돋움",sans-serif; font-size:14px; color:#000; }
@font-face { font-family:myFirstFont; src:local('NanumGothic') }
input, select, textarea{ font-size:12px; font-family:myFirstFont, NanumGothic,Verdana,Dotum,"돋움",sans-serif; color:#000; }
* { -webkit-text-size-adjust:none; }

.layout-boxed-bg {
    background: url(../images/boxed_bg.png) repeat;
}

@media (min-width: 576px) {
	.login-form {
	    width: 25rem;
	}
}

/*******************************************************************************************************
 header 디자인
*******************************************************************************************************/
.navbar-brand span {
	color: white;
	font-size: 1rem;
	font-weight: bold;
	vertical-align: middle;
}

/*******************************************************************************************************
 공통 디자인
*******************************************************************************************************/
.swal2-title {
	font-weight: bold;
}